@charset "UTF-8";
/* 回答はここから */

.list--card {
list-style: none;
background-color: #d2b48c;
width: 200px;
margin: 60px;
margin-left: 0px;
margin-bottom: 0px;
margin-top: 0px;
outline: 10px solid #665;
box-shadow: 0 0 0 6px #665; 
border-radius: 13px;
padding: 10px;
}

.list--card:last-child {
  margin-right: 0px;
}

.list {
  display: flex;
  justify-content: center;
}

